<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        <typeAlias type="com.bitstudy.app.dto.PetsProductDto" alias="PetsProductDto"/>-->
<!--        <typeAlias alias="userDto" type="com.bitstudy.app.dto.UserDto"/>-->
<!--        <typeAlias alias="userDto" type="com.bitstudy.app.dto.UserDto"/>-->
<!--        <typeAlias alias="ProudBoardDto" type="com.bitstudy.app.dto.ProudBoardDto"/>-->
<!--        <typeAlias alias="CommentDto" type="com.bitstudy.app.drto.CommentDto"/>-->
        <typeAlias alias="userDto" type="com.bitstudy.app.dto.UserDto"/>

    </typeAliases>
<!--    <mappers>-->
<!--        <mapper resource="mapper/PetsProductMapper.xml"/>-->
<!--    </mappers>-->

</configuration>